/* Container chứa các box ăn kèm  */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    gap: 30px;
}

/* Mỗi box  đồ ăn  */
.box {
    width: 290px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.box img {
    width: 100%;
    height: 230px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.box h3 {
    margin: 15px 0 5px;
    color: #f06292;
}

.box p {
    padding: 0 15px 20px;
    color: #555;
    font-size: 20px;
}

.box:hover {
    transform: translateY(-8px);
}



